---
key-facts: "- TruckFuelNet  (TFN) commenced business in **April 2008** and is a subsidiary of **Renati  Group Pty Ltd** ([www.renati.co.za](http://www.renati.co.za)).

- We  currently have **over 700 clients** with a diesel turnover of **over 17  million litres** per month.

- TFN  processes over **45 000 customer transactions** per month.

- TFN  provides its services through the **TFN Supplier network** – **100 plus  sites** nationally and in Mozambique, Zimbabwe, Botswana and Namibia.

- TFN is the  biggest independent **on-road refuelling** service provider in RSA."
---
{% include header.html, title: "TruckFuelNet - Company"  %}
<!-- INTRO -->
<div class="container intro">
    <div class="row">
        <div class="col-lg-8 h1orange align-middle">
            <img class="pull-left h1img" src="/images/network_icon.png"  alt=""/>
            <img class="pull-right h1arw" src="/images/orange_chev.png"  alt=""/>
            <h1>Key company facts and personnel</h1>
        </div>
        <div class="col-lg-4 h3green">
            <img class="pull-left" src="/images/green_rev_chev.png" width="35" height="70" alt=""/>
            <p>How TFN saves you money &ndash; <strong><br>
                <a class="clicky" href="/lead/">click here</a> to SAVE with TFN</strong></p>
        </div>
    </div>
    <p class="clearfix"></p>

</div>
<!-- HOME CARDS -->
 <div class="container">
    <div class="row">
        <article class="col-md-8">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 h2con">
                        <h2>Key Facts</h2>

                    </div>
                    {{ key-facts | markdownify }}
                </div>
            </div>
            <div class="container">
              <div class="row">
                    <div class="col-md-7 h2con">
                        <h2>Management and Shareholding</h2>
                    </div>
                    <div class="col-md-5"></div>
                </div>
                    <p><strong>Board of Directors</strong><br>
                        Stevie Ferreira (CEO)<br>
                    Neil de Kock (Director)</p>
                    <p><strong>Management</strong><br>
                        Stevie Ferreira (CEO)<br>
John-Stephen Ferreira (GM) <br>
                        Alta Nel (Finance)<br>
                        Carol Turketti (Customer Relations)<br>
                        Angelo Joseph (Supplier Network Manager)<br>
              Moses Makgoba (Call Centre Operations)</p>
                <p><strong>Shareholders</strong><br>
                    The RENATI Group Pty Ltd is 100% shareholder in TFN.</p>

               <!-- <p><strong>Testimonials from some of our satisfied customers </strong></p> -->
            </div>
    <!--
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="row carra">
        <div style="width: 30%"><img class="img-fluid" src="/images/bauzer_logo.png"alt=""/></div>
            <div style="width: 10%"></div>
        <div class="testibox" style="width: 60%"><h5 class="testi">ererere ere re rewrew rere ewr erer rererewr</h5></div>
        </div>


    </div>
    <div class="carousel-item">
              <div class="row carra">
        <div style="width: 30%"><img class="img-fluid" src="/images/bauzer_logo.png"alt=""/></div>
            <div style="width: 10%"></div>
        <div class="testibox" style="width: 60%"><h5 class="testi">ererere ere re rewrew rere ewr erer rererewr</h5></div>
        </div>
    </div>
    <div class="carousel-item">
              <div class="row carra">
        <div style="width: 30%"><img class="img-fluid" src="/images/bauzer_logo.png"alt=""/></div>
            <div style="width: 10%"></div>
        <div class="testibox" style="width: 60%"><h5 class="testi">ererere ere re rewrew rere ewr erer rererewr</h5></div>
        </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
      -->

        </article>

  <!-- ASIDE -->

 {% include aside.html %}
    </div>
</div>

{% include page-footer.html %}