---
how-do-i-become-a-customer: "Complete the **TruckFuelNet Application Form** and  select the **Fuel Management Service** you require (from as little as **R175** per month for a  fleet of **one to five** vehicles).


A **TFN ID card** for each vehicle is  printed at a cost of **R110** per card and **couriered** to you on receipt of **payment**.


The **Management Account Fee** includes  the option to **place online orders** for your vehicles, thereby taking **full  control** of where and for **how many  litres** they are **authorised** to  refuel.


SMS and email diesel purchase **transaction  notifications** and fuel consumption **monitoring** are optional."
---
{% include header.html, title: "TruckFuelNet - FAQs"  %}
<!-- INTRO -->
<div class="container intro">
    <div class="row">
        <div class="col-lg-8 h1orange align-middle">
            <img class="pull-left h1img" src="/images/faq_icon.png"  alt=""/>
            <img class="pull-right h1arw" src="/images/orange_chev.png"  alt=""/>
            <h1>Frequently Asked Questions</h1>
        </div>
        <div class="col-lg-4 h3green">
            <img class="pull-left" src="/images/green_rev_chev.png" width="35" height="70" alt=""/>
            <p>How TFN saves you money &ndash; <strong><br>
                <a class="clicky" href="/lead/">click here</a> to SAVE with TFN</strong></p>
        </div>
    </div>
    <p class="clearfix"></p>

</div>
<!-- HOME CARDS -->
 <div class="container">
    <div class="row">
        <article class="col-md-8">
            <div class="container">
                 <div class="row">

                        <div class="col-md-12">
            <div id="accordion">

{% include faqs.html, how-do-i-become-a-customer: how-do-i-become-a-customer %}

</div>
        </div>

                </div>
            </div>






        </article>

  <!-- ASIDE -->

 {% include aside.html %}
    </div>
</div>

{% include page-footer.html %}