{% include header.html, title: "TruckFuelNet - Service Offering"  %}
<!-- INTRO -->
<div class="container intro">
    <div class="row">
        <div class="col-lg-8 h1orange">
            <img src="/images/road_icon.png"  alt="" class="pull-left h1img"/>
            <img class="pull-right h1arw" src="/images/orange_chev.png"  alt=""/>
            <h1>Welcome to one of the best daily fuel prices in the market! </h1>

        </div>
        <div class="col-lg-4">

        </div>
    </div>
    <p class="clearfix"></p>

</div>
<!-- HOME CARDS -->
 <div class="container">
    <div class="row">
        <article class="col-md-8">
            <div class="container">
            <p>When we say you WILL<strong> save</strong> with TruckFuelNet, we MEAN it. </p>
            <p>Expect these <strong>every-day</strong> fuel  savings… for a <strong>start</strong>:</p>
            <ul type="disc">
                    <li>A base price of wholesale<strong> less 4c per litre</strong> at all our <strong>Refuel2Save  sites</strong>.</li>
                 <li>A volume rebate of <strong>up to 8c per litre.</strong>            </li>
            </ul>
            <p>PLUS, benefit from <strong>regular promotions</strong> with extra savings  of <strong>up to 10c/litre!</strong></p>
            <p>And our <strong>real-time</strong> <strong>online</strong> system to remotely manage <br>
                all your <strong>on-road refuelling  needs</strong> will save you <strong>TIME</strong> as well  as money.</p>
            </div>


                <div class="row">
                    <div class="col-md-7 h2con">
                        <h2>Want to know more?</h2>
                    </div>
                </div>


            <div class="container">
                <div class="row">
                <div class="col-md-12 frmhld">
                            <p>Leave us <strong>your details </strong>and we'll call you back.  Or register here as a new client and <strong>start  saving </strong>immediately!</p>
			<form method="post" id="lead-form" class="form-horizontal" data-netlify="true">
			  <div class="row form-group">
			  <label for="firstname_id" class="control-label col-md-4">Name:</label>
				<div class="col-md-8">
					<input type="text" class="form-control  input-sm lead" name="firstname" id="firstname_id">
				</div>
        	</div>

       	  <div class="row form-group">
				<label for="compname" class="control-label col-md-4">Company name:</label>
				<div class="col-md-8">
					<input type="text" class="form-control input-sm lead" name="compname" id="compname">
				</div>
        	</div>
       	  <div class="row form-group">
			  <label for="emailadd_id" class="control-label col-md-4">Email address:</label>
				<div class="col-md-8">
					<input type="text" class="form-control  input-sm lead" name="emailadd" id="emailadd_id">
				</div>
        	</div>

       	  <div class="row form-group">
		    <label for="cellno_id" class="control-label col-md-4">Contact number:</label>
				<div class="col-md-8">
					<input type="text" class="form-control  input-sm lead" name="cellno" id="cellno_id">
				</div>
        	</div>

    <p class="clearfix"></p>
        	<div class="form-group">
				<div class="col-md-12">
				<input name="submitbut" type="submit" class="btn btn-secondary pull-right" id="regBut" value="Submit">
			</div>
	</div>
                <p class="clearfix"></p>
		</form>


</div>
            </div>
             </div>

        </article>

  <!-- ASIDE -->

 {% include aside.html %}
    </div>
</div>

{% include googletagmanager.html %}
{% include page-footer.html %}