{% include header.html, title: "TruckFuelNet"  %}
<!-- INTRO -->
<div class="container intro">
    <div class="row">
        <div class="col-lg-8 h1green align-middle">
            <img class="pull-left h1img" src="/images/card_icon.png"  alt=""/>
            <img class="pull-right h1arw" src="/images/green_chev.png"  alt=""/>
            <h1>MAXCard &ndash; our exclusive fuel card</h1>
        </div>
    </div>
    <p class="clearfix"></p>

</div>
<!-- HOME CARDS -->
 <div class="container">
    <div class="row">
        <article class="col-md-8">
            <div class="container">
                <p><img class="pull-right logopage" src="/images/maxCcard.png" alt="MaxCcard"/>Introducing  MAXCard, TFN's flexible <strong>payment card</strong> <strong>solution</strong>, developed <br>
in  partnership with a <strong>major bank</strong>. </p>
                <ul type="disc">
                    <li>Now you can enjoy <strong>one payment solution</strong> for all on-road spending, including fuel, toll, truck, driver  expenses – all managed in <strong>real-time</strong> by a single software solution. </li>
                    <li>Account <strong>credit terms</strong> available. </li>
                    <li>For use through the <strong>extensive</strong> TFN Supplier Network where you <strong>authorise</strong> where your card can be used! </li>
                </ul>
<h4 class="cta">Register now to enjoy these fantastic benefits! </h4>


                <div class="container">
                    <div class="row dwlds"></div>
                </div>
            </div>







        </article>

  <!-- ASIDE -->

 {% include aside.html %}
    </div>
</div>

{% include page-footer.html %}