{% include header.html, title: "TruckFuelNet - Products &amp; Services"  %}
<!-- INTRO -->
<div class="container intro">
    <div class="row">
        <div class="col-lg-8 h1orange align-middle">
            <img class="pull-left h1img" src="/images/products_icon.png"  alt=""/>
            <img class="pull-right h1arw" src="/images/orange_chev.png"  alt=""/>
            <h1>Products and Services</h1>
        </div>
        <div class="col-lg-4 h3blue">
            <img class="pull-left" src="/images/blue_rev_chev.png" width="35" height="70" alt=""/>
            <p>How TFN saves you money &ndash; <strong><br>
                <a class="clicky" href="/lead/">click here</a> to SAVE with TFN</strong></p>
        </div>
    </div>
    <p class="clearfix"></p>

</div>
<!-- HOME CARDS -->
 <div class="container">
    <div class="row">
        <article class="col-md-8">
            <div class="row">

<div class="container">
<!-- SECTION 1 -->
<div class="card-group">
    <!-- ONE -->
   
     <div class="card pica">
         <div class="card-body"></div>
       </div>
   
    <!-- TWO -->
   
       <div class="card">
           <div class="card-header">
               <img class="img-fluid" src="/images/tfn_logo_no_slogan.png" alt="TFN Management System"/>Management System</div>
            <div class="card-body">
                <a class="btn btn-light btn-brd" href="#" data-toggle="modal" data-target="#overview">WATCH VIDEO</a>
                <a href="/downloads/Management System.pdf" target="_blank" class="btn btn-light btn-brd">DOWNLOAD BROCHURE</a>
                <a class="btn btn-light btn-brd" href="/refuel_management/">READ MORE</a>
            </div>
            <img src="/images/down.png" alt="Card image cap" width="35" height="18" class="card-img-bottom ml-auto mr-auto">
       </div>
   
     <!-- THREE -->
   
       <div class="card picb">
         <div class="card-body"></div>
       </div>
       </div>
   </div>
</div>

<!-- SECTION 2 -->
    <div class="card-group">
 <!-- ONE -->
        <div class="card">
            <div class="card-header"><img class="img-fluid" src="/images/refuel2Save.png" alt="Refuel2Save"/></div>
            <div class="card-body">
                <a class="btn btn-light btn-brd" href="#"  data-toggle="modal" data-target="#refuel2save">WATCH VIDEO</a>
                <a href="/downloads/Refuel2Save.pdf" target="_blank" class="btn btn-light btn-brd">DOWNLOAD BROCHURE</a>
                <a class="btn btn-light btn-brd" href="/refuel2save/">READ MORE</a>
            </div>
            <img src="/images/down.png" alt="Card image cap" width="35" height="18" class="card-img-bottom ml-auto mr-auto">
        </div>

  <!-- TWO -->

    <div class="card picd">
        <img src="/images/down.png" alt="Card image cap" width="35" height="18" class="card-img-top ml-auto mr-auto">
        <div class="card-body"></div>
    </div>

 <!-- THREE -->

        <div class="card">
            <div class="card-header"><img class="img-fluid" src="/images/road_wallet.png" alt="RoadWallet"/></div>
            <div class="card-body">
                <a href="/downloads/RoadWallet.pdf" target="_blank" class="btn btn-light btn-brd">DOWNLOAD BROCHURE</a>
                <a class="btn btn-light btn-brd" href="/road_wallet/">READ MORE</a>
            </div>
                <img src="/images/down.png" alt="Card image cap" width="35" height="18" class="card-img-bottom ml-auto mr-auto">
            </div>
        </div>

<!-- SECTION 3 -->
<div class="card-group">
    <!-- ONE -->
           <div class="card">
            <img src="/images/down.png" alt="Card image cap" width="35" height="18" class="card-img-top ml-auto mr-auto">
               <div class="card-header"><img class="img-fluid" src="/images/tfn_credit.png" alt="TFN Credit"/></div>
               <div class="card-body">
                   <a class="btn btn-light btn-brd disabled" href="#"  data-toggle="modal" >COMING SOON</a>
               </div>
           </div>
   
     <!-- TWO -->
   
       <div class="card picc">
           <div class="card-body"></div>
       </div>
   
    <!-- THREE -->
   
           <div class="card">
            <img src="/images/down.png" alt="Card image cap" width="35" height="18" class="card-img-top ml-auto mr-auto">
               <div class="card-header"><img class="img-fluid" src="/images/linebooker_tfn.png" alt="Linebooker TFN"/></div>
               <div class="card-body">
                   <a class="btn btn-light btn-brd" href="https://mailchi.mp/tfn.co.za/tfn-linebooker">READ MORE</a>
               </div>
               </div>
           </div>

<br>
<br>

        </article>

  <!-- ASIDE -->

 {% include aside.html %}
    </div>
</div>

{% include vid_overview.html %}
{% include vid_refuel2save.html %}
{% include vid_promozone.html %}
<script>
$(function(){
    $('#promozone, #refuel2save, #overview').modal({
        show: false
    }).on('hidden.bs.modal', function(){
        $(this).find('video')[0].pause();
    });
});
</script>
{% include page-footer.html %}