{% include header.html, title: "TruckFuelNet"  %}
<!-- INTRO -->
<div class="container intro">
    <div class="row">
        <div class="col-lg-8 h1green align-middle">
            <img class="pull-left h1img" src="/images/promo_icon.png"  alt=""/>
            <img class="pull-right h1arw" src="/images/green_chev.png"  alt=""/>
            <h1>Your area for daily discounts on fuel and more!</h1>
        </div>
    </div>
    <p class="clearfix"></p>

</div>
<!-- HOME CARDS -->
 <div class="container">
    <div class="row">
        <article class="col-md-8">
            <div class="container">
              <p><img class="pull-right logopage" src="/images/promozone_alt.png" alt="Refuel2Win"/>PromoZone  is the area where we feature <strong>exciting  additional discounts</strong> on fuel and service costs. You <strong>never know</strong> what you <strong>might  find</strong>, so be sure to check it out <strong>every  day</strong>. </p>
                <ul type="disc">
                    <li><strong>Save between 5 - 40cpl</strong> on fuel!</li>
                    <li>Promotion <strong>discounts</strong> also available on <strong>truck stop driver services</strong>.</li>
                    <li>Only available at <strong>TFN Refuel2Save</strong> sites.</li>
                    <li><a style ="color:#F47321" href="https://app.tfn.co.za/Application/Promotions/frmPromoZone.aspx" target="_blank"><strong>View</strong></a> all <strong>PromoZone</strong> promotions</li>
                </ul>
<h4 class="cta">Register now to enjoy these fantastic benefits! </h4>


                <div class="container">
                    <div class="row dwlds">
                        <div class="col-md-6 bd">
                            <strong class="orgtxt">Watch Video</strong>
                            <hr class="hrs" />
                            <a href="#" data-toggle="modal" data-target="#promozone"><img class="img-fluid" src="/images/vid.png" width="200" height="37" alt=""/>

                        </div>
                        <div class="col-md-6">
                            <!--
<strong class="orgtxt">Download Brochure</strong>
                            <hr class="hrs" />
                            <img class="img-fluid" src="/images/pdf.png" width="200" height="37" alt=""/>
-->
                        </div>
                    </div>
                </div>
            </div>







        </article>

  <!-- ASIDE -->

 {% include aside.html %}
    </div>
</div>

{% include vid_promozone.html %}
<script>
$(function(){
    $('#promozone').modal({
        show: false
    }).on('hidden.bs.modal', function(){
        $(this).find('video')[0].pause();
    });
});
</script>

{% include page-footer.html %}