{% include header.html, title: "TruckFuelNet"  %}
<!-- INTRO -->
<div class="container intro">
    <div class="row">
        <div class="col-lg-8 h1green align-middle">
            <img class="pull-left h1img" src="/images/win_icon.png"  alt=""/>
            <img class="pull-right h1arw" src="/images/green_chev.png"  alt=""/>
            <h1>Refuel2Win &ndash; rich rewards direct to your bottom line</h1>
        </div>
    </div>
    <p class="clearfix"></p>

</div>
<!-- HOME CARDS -->
 <div class="container">
    <div class="row">
        <article class="col-md-8">
            <div class="container">
                <p><img class="pull-right logopage" src="/images/refuel2win.png" alt="Refuel2Win"/><strong>Refuel2Win</strong> is TFN's customer <strong>appreciation  programme</strong> that rewards customers and drivers with <strong>extra benefits</strong>! </p>
                <ul type="disc">
                    <li>Apart from enjoying a <strong>great diesel price</strong>, you'll be richly <strong>rewarded</strong> for your <strong>loyalty</strong> and business. </li>
                    <li>The more you purchase, the <strong>higher you go </strong>up the loyalty ladder.</li>
                    <li>All customers – <strong>big and small</strong> – can earn the       rewards. </li>
                </ul>
<h4 class="cta">Register now to enjoy these fantastic benefits! </h4>


                <div class="container">
                    <div class="row dwlds">
                        <div class="col-md-6 bd">
                            <strong class="orgtxt">Download Brochure</strong>
                            <hr class="hrs" />
                            <a href="downloads/Refuel2Win.pdf" target="_blank"><img class="img-fluid" src="/images/pdf.png" width="200" height="37" alt=""/></a>
                        </div>
                        <div class="col-md-6">
                            <strong class="orgtxt">Watch Video</strong>
                            <hr class="hrs" />
                            <img class="img-fluid" src="/images/vid.png" width="200" height="37" alt=""/>
                        </div>
                    </div>
                </div>
            </div>







        </article>

  <!-- ASIDE -->

 {% include aside.html %}
    </div>
</div>

<!-- FOOTER -->
 {% include footer.html %}
 {% include analyticstracking.html %}
    <script src="/js/jquery_3_3_1.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/popper.min.js"></script>
</body>
</html>