{% include header.html, title: "TruckFuelNet"  %}
<!-- INTRO -->
<div class="container intro">
    <div class="row">
        <div class="col-lg-8 h1green align-middle">
            <img class="pull-left h1img" src="/images/road_icon.png"  alt=""/>
            <img class="pull-right h1arw" src="/images/green_chev.png"  alt=""/>
            <h1 class="pt-2">On-road Refuel Management &ndash; true convenience in real-time refuelling</h1>
        </div>
    </div>
    <p class="clearfix"></p>

</div>
<!-- HOME CARDS -->
 <div class="container">
    <div class="row">
        <article class="col-md-8">
            <div class="container">
                <div class="row">
                <p>Introducing the <strong>TFN On-road Refuel  Management</strong> software program, the most comprehensive <strong>real-time</strong>, <strong>on-road</strong> refuelling <strong>management</strong> solution in the market! </p>
                <ul>
                    <li>Manage and authorise – in <strong>real-time</strong> – where, when, who and  how much a truck can <strong>refuel</strong> from the <strong>convenience</strong> of your <strong>computer</strong> or customer <strong>app</strong>. </li>
                    <li>Includes <strong>immediate reporting</strong> on all transactions.</li>
                    <li>Fixed <strong>monthly fee</strong> based on your <strong>fleet size</strong>.</li>
                </ul>
                <h4 class="cta">Register now to enjoy these fantastic benefits! </h4>
                </div>
            </div>
            <div class="container mt-4 mb-4">
                <div class="row">
                    <h4><b>Control Management</b></h4>
                    <p>
                    The TFN system is the only real-time diesel supply and management platform available in Southern Africa. 
                    Operators can now manage WHERE, WHEN and HOW MUCH fuel a vehicle receives on an immediate, real-time basis. 
                    Furthermore, the transaction information and reporting is electronically available immediately after the 
                    refuelling has occurred, via email or SMS. Access to the full management system and comprehensive real-time 
                    reporting is possible through any web-enabled communication device at any time, wherever you are. 
                    There are essentially two levels of control that can be exercised through the TFN system namely:
                    </p>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="mb-4">
                        <h5><b>Basic Account</b></h5>
                        <p>
                            The Basic Account grants access to TFN’s system to view live transactions as well as check balances 
                            and generate statements. Diesel transactions will take place through our Virtual card on a show-and-go basis.
                        </p>
                    </div>
                    <div class="mb-4">
                        <h5><b>Management Account</b></h5>
                        <p>
                            The TFN Management Account gives access to all basic account functionalities including online orders for 
                            all diesel transactions. This account gives you the ability to micro-manage your refuelling. <br>
                            <br>One of the pre-authorisation options is the TFN Virtual card, that is free to download. The other 
                            option is an authorisation code sent via SMS to the driver’s cell phone, which removes the need for a card. 
                            Please note, this option is only available to the Management Account holders. TFN has a HelpDesk that is 
                            available 24/7 to assist with any issues you may experience.
                        </p>
                    </div>
                    <div>
                        <img class="pull-right logopage" src="/images/control-management.jpg" style="max-width: 700px;" />
                    </div>
                </div>
            </div>
        </article>

  <!-- ASIDE -->

 {% include aside.html %}
    </div>
</div>

{% include vid_overview.html %}

<script>
$(function(){
    $('#overview').modal({
        show: false
    }).on('hidden.bs.modal', function(){
        $(this).find('video')[0].pause();
    });
});
</script>
<!-- FOOTER -->
{% include page-footer.html %}