{% include header.html, title: "TruckFuelNet - Service Offering"  %}
<!-- INTRO -->
<div class="container intro">
    <div class="row">
        <div class="col-lg-8 h1orange">
            <img src="/images/road_icon.png"  alt="" class="pull-left h1img"/>
            <img class="pull-right h1arw" src="/images/orange_chev.png"  alt=""/>
            <h1>Welcome to one of the best daily fuel prices in the market! </h1>

        </div>
        <div class="col-lg-4">

        </div>
    </div>
    <p class="clearfix"></p>

</div>
<!-- HOME CARDS -->
 <div class="container">
    <div class="row">
        <article class="col-md-8">
            <div class="row">
                    <div class="col-md-7 h2con">
                        <h2>Register</h2>
                    </div>
                </div>
            <div class="container">
                <!-- Event snippet for Submit lead form conversion page -->
                <script>
                    gtag('event', 'conversion', {'send_to': 'AW-701277758/-HxRCLGk-tABEL7Mss4C'});
                </script>
             <iframe width="100%" height="600" src="https://tfn.galatians.co.za/forms/wtl/cb1a3ddde6cbe0c4e58cb106adaa7a14" frameborder="0" allowfullscreen id="if_vol"></iframe>
             <!-- Changed the Lead form to the one above -->
             <!--<iframe src="https://app.tfn.co.za/Public/frmRegister.aspx" width="100%" height="750px" scrolling="auto" frameborder="0" id="if_vol"></iframe>-->
            </div>

        </article>

  <!-- ASIDE -->

 {% include aside.html %}
    </div>
</div>

{% include page-footer.html %}
