{% include header.html, title: "TruckFuelNet"  %}
<!-- INTRO -->
<div class="container intro">
    <div class="row">
        <div class="col-lg-8 h1green align-middle">
            <img class="pull-left h1img" src="/images/wallet_icon.png"  alt=""/>
            <img class="pull-right h1arw" src="/images/green_chev.png"  alt=""/>
            <h1>Road Wallet &ndash; real-time on-road cost control</h1>
        </div>
    </div>
    <p class="clearfix"></p>

</div>
<!-- HOME CARDS -->
 <div class="container">
    <div class="row">
        <article class="col-md-8">
            <div class="container">
                <p><img class="pull-right logopage" src="/images/road_wallet.png" alt="RoadWallet"/>Introducing <strong>Road Wallet</strong>, our exclusive <strong>on-line</strong> function to help you <strong>plan</strong>, <strong>manage</strong>, <strong>administer</strong> and <strong>pay</strong> for  your driver on-road <strong>spending</strong>!</p>
                <ul type="disc">
                    <li>Puts you in <strong>full control</strong> of where, when and how       much <strong>your driver</strong> can spend <strong>on-road</strong>, removing the need to <strong>allocate cash</strong> or <strong>EFT</strong> travelling allowances. </li>
                    <li>Also includes <strong>real-time</strong> transaction reporting on <strong>all</strong> <strong>driver spending</strong>. </li>
                </ul>
<h4 class="cta">Register now to enjoy these fantastic benefits! </h4>


                <div class="container">
                    <div class="row dwlds">
                        <div class="col-md-6 bd">
                            <strong class="orgtxt">Download Brochure</strong>
                            <hr class="hrs" />
                            <a href="downloads/RoadWallet.pdf" target="_blank"><img class="img-fluid" src="/images/pdf.png" width="200" height="37" alt=""/></a>
                        </div>
                        <div class="col-md-6">
                            <strong class="orgtxt">Watch Video</strong>
                            <hr class="hrs" />
                            <img class="img-fluid" src="/images/vid.png" width="200" height="37" alt=""/>
                        </div>
                    </div>
                </div>
            </div>







        </article>

  <!-- ASIDE -->

 {% include aside.html %}
    </div>
</div>

{% include page-footer.html %}