{% include header.html, title: "TruckFuelNet"  %}
<!-- INTRO -->
<div class="container intro">
    <div class="row">
        <div class="col-lg-8 h1green align-middle">
            <img class="pull-left h1img" src="/images/wallet_icon.png"  alt=""/>
            <img class="pull-right h1arw" src="/images/green_chev.png"  alt=""/>
            <h1>Road Wallet &ndash; real-time on-road cost control</h1>
        </div>
    </div>
    <p class="clearfix"></p>

</div>
<!-- HOME CARDS -->
 <div class="container">
    <div class="row">
        <article class="col-md-8">
            <div class="container">
                <p><img class="pull-right logopage" src="/images/road_wallet.png" alt="RoadWallet"/>Introducing <strong>Road Wallet</strong>, our exclusive <strong>on-line</strong> function to help you <strong>plan</strong>, <strong>manage</strong>, <strong>administer</strong> and <strong>pay</strong> for  your driver on-road <strong>spending</strong>!</p>
                <ul type="disc">
                    <li>Puts you in <strong>full control</strong> of where, when and how       much <strong>your driver</strong> can spend <strong>on-road</strong>, removing the need to <strong>allocate cash</strong> or <strong>EFT</strong> travelling allowances. </li>
                    <li>Also includes <strong>real-time</strong> transaction reporting on <strong>all</strong> <strong>driver spending</strong>. </li>
                </ul>
<h4 class="cta">Register now to enjoy these fantastic benefits! </h4></br>


                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="pull-left logopage" src="/images/road-wallet-phones.jpg" style="width: 200px;" alt="RoadWallet"/>
                        </div>
                        <div class="col-md-8">
                            <p>
                                Road Wallet allows you to manage driver on-road spending the same way as refuelling, 
                                using an electronic wallet with preset up and authorised spending amounts for food, 
                                overnight, laundry, sanitary, etc. As in the case of refuelling, driver spending transactions 
                                are reported in real-time to your operational dashboard, eliminating the need for expense slips 
                                reconciliation. It will revolutionise the way driver on-road spending is managed in the market! 
                            </p>
                        </div>
                    </div>
                    <div class="row">
                            <h5><b>Card-less</b></h5>
                            <p class="mb-4">TFN customers no longer need to have their TFN card with them to do a transaction.</p>
                            <h5><b>Instant & affordable</b></h5>
                            </ul>          
                            <p class="mb-4">Road Wallet users are able to get through a purchase in mere seconds with a simple tap of their 
                                mobile device. Electronic Road Wallet transfers are more efficient and less costly.
                            </p></br>
                            <h5><b>Real-time transacting</b></h5>      
                            <p>Driver spending transactions are reported in real-time to your operational dashboard, 
                                eliminating the need for expense slips reconciliation.
                            </p>
                            <img class="pull-right logopage" src="/images/road-wallet-open-screen-phones.jpg" style="max-width: 700px;" />
                    </div>                        
                    </div>
                </div>


            




        </article>

  <!-- ASIDE -->

 {% include aside.html %}
    </div>
</div>

{% include page-footer.html %}