{% include header.html, title: "TruckFuelNet - Terms &amp; Conditions"  %}

<div class="container">
    <div class="row">
        <article class="col-md-8">
            <div class="container">
                <div class="row row1">'
                </div>
                <!-- INTRO -->
                <h2><strong>Terms &amp; Conditions</strong></h2>
                <ol>
                    <li><span>Nature and use of the website</span></li>
                </ol>
                <p>&nbsp;</p>
                <p><span>This website ("the site") is the property of, and is published on the Internet
                        by, TruckFuelNet ("TFN"). The site is intended to provide an overview of the businesses of
                        TruckFuelNet, its
                        subsidiaries (including but not limited to TFN) and its associated companies (together "the
                        TruckFuelNet
                        Companies"). Access to and use of the site or any information it contains is subject to the
                        terms set out in
                        this notice ("the terms"). By signifying your acceptance of the terms, you represent that you
                        have full
                        legal capacity to agree to be bound by them, and your access to the site will be granted in
                        reliance on that
                        representation. If you are unwilling to agree to the terms, or do not have the capacity to do
                        so, you are
                        not entitled to access the site or to view or use any information it contains. The benefits of
                        the terms
                        extend to each of the TruckFuelNet Companies without notice of acceptance, which you are deemed
                        to have
                        waived.</span></p>
                <ol start="2">
                    <li><span>Disclaimer of liability</span></li>
                </ol>
                <p>&nbsp;</p>
                <p><span>You should not assume that the information contained on the site is necessarily
                        current or complete. While it is TFN's intention to provide accurate and up-to-date information
                        about the
                        TruckFuelNet Companies on the site, it gives no undertaking in that regard, and by your
                        acceptance of the
                        terms you exempt the TruckFuelNet Companies from liability for the accuracy or completeness of
                        the
                        information contained on the site. Should you wish to rely on anything appearing on the site,
                        you should
                        contact the relevant TruckFuelNet Company for written confirmation of it.</span></p>
                <ol start="3">
                    <li><span>Copyright</span></li>
                </ol>
                <p><span>Save as noted next, the contents of the site are the copyright of TFN and all its
                        rights are reserved. The copyright in certain material contained on the site (including but not
                        limited to
                        certain logos and other graphics), may be the property of other of the TruckFuelNet Companies,
                        and they too
                        reserve all rights in that regard.</span></p>
                <ol start="4">
                    <li><span>Use of information</span></li>
                </ol>
                <p><span>The material contained on the site is made available solely for information
                        purposes, and may not be used for commercial purposes or in any way incorporated into anyone
                        else's
                        material, whether published on the Internet or not. Reproduction in any form without the prior
                        written
                        permission of TFN is prohibited.</span></p>
                <ol start="5">
                    <li><span>Risk of using the site</span></li>
                </ol>
                <p><span>Access to and use of the site is entirely at your own risk. Without in any way
                        limiting the scope or generality of that term, TFN makes no representation and gives no warranty
                        that such
                        access or use, including but not limited to copying or downloading anything from the site or
                        otherwise
                        interacting with the site, will not affect the operation of your system, whether by reason of
                        malicious
                        conduct by others or otherwise.</span></p>
                <ol start="6">
                    <li><span>Dispute resolution</span></li>
                </ol>
                <p><span>The proper law of the contract resulting from your acceptance of the terms is the
                        law of the Republic of South Africa. By accepting the terms, you irrevocably submit to the
                        exclusive
                        jurisdiction of the High Court at Cape Town.
                    </span>
                </p>


            </div>
        </article>

        <!-- ASIDE -->

        {% include aside.html %}
    </div>
</div>

{% include page-footer.html %}