<div class="container banner">
    <div class="logo">
        <img class="img-fluid" src="/images/tfn_logo.png"  alt=""/>
    </div>
    <div class="temp">
        <div class="navi">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link {% if page.url == "/home/" %}active{% endif %}" href="/home/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if page.url == "/service/" %}active{% endif %}" href="/service/">Service Offering</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if page.url == "/network/" %}active{% endif %}" href="/network/">Our Network</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if page.url == "/products/" %}active{% endif %}" href="/products/">Products &amp; Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if page.url == "/company/" %}active{% endif %}" href="/company/">Company</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if page.url == "/benefits/" %}active{% endif %}" href="/benefits/">Benefits</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if page.url == "/faq/" %}active{% endif %}" href="/faq/">FAQs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if page.url == "/community/" %}active{% endif %}" href="/community/">Community</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if page.url == "/contact/" %}active{% endif %}" href="/contact/">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>