<div class="card">
    <div class="card-header" id="heading1">
        <button class="btn btn-link btn-accordion" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
            Why are TFN prices so much lower than retail filling stations?        </button>
    </div>

    <div id="collapse1" class="collapse " aria-labelledby="heading1" data-parent="#accordion">
        <div class="card-body">
            TFN deals with <strong>commercial retailers</strong> who are not locked into oil company <strong>franchise agreements</strong>. These  retailers buy diesel through wholesalers at more <strong>competitive prices</strong> than  franchised retailers who are supplied by <strong>oil companies</strong> under their  franchise agreements. Our volumes provide us with the <strong>bargaining power</strong> to demand the <strong>best price</strong> for our customers.        </div>
    </div>
</div>

<div class="card">
    <div class="card-header" id="heading2">
        <button class="btn btn-link btn-accordion" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
            What assurance do I have that my money is safe with the company?        </button>
    </div>

    <div id="collapse2" class="collapse " aria-labelledby="heading2" data-parent="#accordion">
        <div class="card-body">
            All customer deposits are paid into  the <strong>TFN Customer Trust</strong> bank  accounts. The trust accounts are <strong>audited  monthly</strong> by external auditors for <strong>verification</strong> and <strong>accounting</strong> of customer funds. We  have over 650 customers – <strong>references</strong> are available on request.        </div>
    </div>
</div>

<div class="card">
    <div class="card-header" id="heading3">
        <button class="btn btn-link btn-accordion" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
            What guarantees do I have that your diesel supply is the same quality as oil companies?        </button>
    </div>

    <div id="collapse3" class="collapse " aria-labelledby="heading3" data-parent="#accordion">
        <div class="card-body">
            Our service providers are all <strong>reputable</strong> and <strong>credible</strong> retailers with a good history. All their diesel stock is  supplied from <strong>local oil companies</strong>.        </div>
    </div>
</div>

<div class="card">
    <div class="card-header" id="heading4">
        <button class="btn btn-link btn-accordion" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
            How do you pay for your diesel?        </button>
    </div>

    <div id="collapse4" class="collapse " aria-labelledby="heading4" data-parent="#accordion">
        <div class="card-body">
            TFN is not a fuel retailer, but a <strong>service provider</strong>. As such, we <strong>do not sell fuel</strong> to our customers, but <strong>manage </strong>the <strong>fuel transactions</strong> and <strong>payment</strong> on behalf of customers. Payment is either by means of a<strong> pre-paid deposit account</strong> or <strong>your  own bank</strong> fleet card.        </div>
    </div>
</div>

<div class="card">
    <div class="card-header" id="heading5">
        <button class="btn btn-link btn-accordion" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
            Why don't you provide account terms?        </button>
    </div>

    <div id="collapse5" class="collapse " aria-labelledby="heading5" data-parent="#accordion">
        <div class="card-body">
            TFN is neither a <strong>retailer</strong> nor a <strong>merchant</strong> – we <strong>deliver a</strong> <strong>service</strong> to customers and as such cannot provide account terms. TFN  would need a <strong>financial service provider</strong> <strong>licence</strong> to offer credit terms to  customers.        </div>
    </div>
</div>

<div class="card">
    <div class="card-header" id="heading6">
        <button class="btn btn-link btn-accordion" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
            What guarantee does TFN provide against diesel theft?        </button>
    </div>

    <div id="collapse6" class="collapse " aria-labelledby="heading6" data-parent="#accordion">
        <div class="card-body">
            As in the case of all retailers and  fuel management systems, we cannot provide <strong>any  guarantee</strong>.<br>
    <br>
However, TFN is the <strong>ONLY service  provider</strong> in the market that provides its customers with a <strong>real-time diesel management system</strong> as a  tool to monitor and identify <strong>fraudulent</strong> transactions.        </div>
    </div>
</div>

<div class="card">
    <div class="card-header" id="heading7">
        <button class="btn btn-link btn-accordion" data-toggle="collapse" data-target="#collapse7" aria-expanded="true" aria-controls="collapse7">
            How do I become a customer?        </button>
    </div>

    <div id="collapse7" class="collapse " aria-labelledby="heading7" data-parent="#accordion">
        <div class="card-body">
            Complete the <strong>TruckFuelNet Application Form</strong> and  select the <strong>Fuel Management Service</strong> you require (from as little as <strong>R175</strong> per month for a  fleet of <strong>one to five</strong> vehicles).<br>
    <br>
    A <strong>TFN ID card</strong> for each vehicle is  printed at a cost of <strong>R110</strong> per card and <strong>couriered</strong> to you on receipt of <strong>payment</strong>.<br>
    <br>
    The <strong>Management Account Fee</strong> includes  the option to <strong>place online orders</strong> for your vehicles, thereby taking <strong>full  control</strong> of where and for <strong>how many  litres</strong> they are <strong>authorised</strong> to  refuel.<br>
    <br>
SMS and email diesel purchase <strong>transaction  notifications</strong> and fuel consumption <strong>monitoring</strong> are optional.        </div>
    </div>
</div>

<div class="card">
    <div class="card-header" id="heading8">
        <button class="btn btn-link btn-accordion" data-toggle="collapse" data-target="#collapse8" aria-expanded="true" aria-controls="collapse8">
            What are your operating hours?        </button>
    </div>

    <div id="collapse8" class="collapse " aria-labelledby="heading8" data-parent="#accordion">
        <div class="card-body">
            We have a <strong>24-hour Call Centre</strong> with fully trained operational  staff as a <strong>back-up service</strong> to both  our <strong>customers</strong> and our <strong>suppliers</strong>.<br>
    <br>
The standby cellphone numbers are: <strong>011  394 4199</strong> or <strong>071 439 0405.</strong>        </div>
    </div>
</div>
