    <div class="container">
        <div class="row footera h-100  justify-content-center align-items-center">
            <div class="col-md-2"></div>
            <div class="col-md-2 logo"><a href="https://www.bauzer.co.za/" target="_blank"><img src="/images/bauzer-logo.png" class="img-fluid" alt="Bauzer"/></a></div>
            <div class="col-md-2 logo"><a href="https://www.nito.co.za/" target="_blank"><img src="/images/nito-logo.png" class="img-fluid" alt="Nito Energy"/></a></div>
            <div class="col-md-2 logo"><a href="https://www.renati.co.za/" target="_blank"><img src="/images/renati-logo.png" class="img-fluid" alt="Renati Group"/></a></div>
            <div class="col-md-2 logo"><a href="https://www.renati.tech/" target="_blank"><img src="/images/renati-tech-logo.png" class="img-fluid" alt="Renati Tech"/></a></div>
            <div class="col-md-2"></div>
        </div>
        <div class="row footerb h-100 justify-content-center align-items-center">
            <div class="icon1"><a href="https://goo.gl/maps/v9VRFShsepD2" target="_blank"><i class="fa fa-map-marker fa-2x"></i></a></div>
            <div class="icon1"><a href="mailto:crm@tfn.co.za" target="_blank"><i class="fa fa-envelope fa-2x"></i></a></div>
            <div class="icon1"><a href="tel:27113944199" target="_blank"><i class="fa fa-phone fa-2x"></i></a></div>
            <div class="icon1"><a href="https://za.linkedin.com/company/truck-fuel-net" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></div>
            <div class="icon1"><a href="https://www.facebook.com/truckfuelnet" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></div>
            <div class="col-md-2 mb-1"><a href="/privacypolicy/" style="color: white; font-size: 0.75em;">Privacy Policy</a></div>
            <div class="col-md-2 mb-1"><a href="../downloads/Market-Demand-Trading-PAIA.pdf" target="_blank" style="color: white; font-size: 0.75em;">PAIA Manual</a></div>
            <div class="col-md-2 mb-1"><a href="../downloads/Market-Demand-Trading-POPI.pdf" target="_blank" style="color: white; font-size: 0.75em;">POPI Manual</a></div>
        </div>
    </div>
