    <div class="container">
        <div class="row footera h-100  justify-content-center align-items-center">
            <div class="col-md-4 logo"><img src="/images/bauzer_logo_sm.png" class="img-fluid" alt="TruckFuelNet"/></div>
            <div class="col-md-4 logo"><img src="/images/renati_logo.png" class="img-fluid" alt="Renati Group"/></div>
            <div class="col-md-4 logo"><img src="/images/nito_logo.png" class="img-fluid" alt="Nito Energy"/></div>
        </div>
        <div class="row footerb h-100 justify-content-center align-items-center">
            <div class="icon1"><a href="https://goo.gl/maps/v9VRFShsepD2" target="_blank"><i class="fa fa-map-marker fa-2x"></i></a></div>
            <div class="icon1"><a href="mailto:crm@tfn.co.za" target="_blank"><i class="fa fa-envelope fa-2x"></i></a></div>
            <div class="icon1"><a href="tel:27113944199" target="_blank"><i class="fa fa-phone fa-2x"></i></a></div>
            <div class="icon1"><a href="https://za.linkedin.com/company/truck-fuel-net" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></div>
            <div class="icon1"><a href="https://www.facebook.com/truckfuelnet" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></div>
        </div>
    </div>
