<div id="fftd"></div>

<script>
var fuelForTodayList = [
    'To be HAPPY is a DECISION, only YOU can make and live that DECISION',
    'TRUST and FAITH is a heart issue,not a MIND exercise',
    'The best way of retaliation is FORGIVENESS',
    'Accept if you created the world in 6 days, it is not a good idea to prescribe to God what to do',
    'Feed your faith and doubt will die of hunger',
    'Your seed will expose the character of the soil',
    'The three rewards for Christ and forgiveness, a friend and a future',
    'Tell your problem how big your God is, not how big the problem is',
    'The problems you solve determine the rewards you receive',
    'People don\'t always remember what you say, they always remember how they felt when you said it',
    'The goal of an enemy is to change your self-portrait',
    'Time will expose what interrogation cannot',
    'Your future is decided by who you choose to believe',
    'The evidence of God\'s presence far outweighs the proof of his absence',
    'Make your future so big yesterday disappears',
    'The quality of your questions will determine the quality of your discoveries',
    'One day of favour from God is worth a thousand years of labour',
    'When you let go what is in your hand, God will let go what is in His hand',
    'You never outgrow warfare, you must simply learn to fight',
    'The seasons of your life will change every time you decide to use your faith',
    'False accusation is the last stage before super natural promotion',
    'Anything good is hated by everything evil',
    'When you ask God for a miracle He will always gives you an instruction',
    'The seasons of your life will change every time you use your faith',
    'What you say is not as important as what other remember',
    'When you get involved with God\'s dream, He will get involved in your dreams!',
    'Prosperity is simply having enough of God\'s provision to complete His assignment in your life',
    'Miracles happen as quickly as tragedies',
    'Tired eyes rarely see a good future',
    'An uncommon enemy will require uncommon wisdom',
    'Any step towards self-sufficiency is a step away from God',
    'God never responds to pain but He always responds to pursuit',
    'Obedience is the only thing God has ever required from man',
    'Give another what he cannot !nd anywhere else and he will keep returning',
    'Patience is the weapon that forces deception to reveal itself',
    'Your words are the seeds for feelings',
    'Giving is the proof that you have overcome greed',
    'One day of doubt will create 365 days of pain',
    'If you don\'t know where you belong, you will adapt to where you are',
    'What you say determines what God is willing to do for you',
    'A seed of nothing always creates a season of nothing',
    'Champions are willing to walk away from something they desire to protect something else they love',
    'If you don\'t know where you belong, you will adapt to where you are',
    'If you prayed the prayer above, welcome to the family of Christ Jesus',
    'That which becomes familiar becomes hidden',
    'Love conquers all things',
    'Tired eyes rarely see a good future',
    'The most dangerous person in your life is the one who feeds your doubts',
    'God wanted a family therefore He gave Jesus',
    'Nothing will ever dominate your life unless it happens daily',
    'Those who unlock your compassion are those to whom you have been assigned',
    'The kindest word is an unkind word unsaid',
    'When you delay a battle, you delay your rewards',
    'Yesterday is in the tomb, tomorrow is in the womb - the only place you will ever be is today',
    'What you do is what you believe',
    'What you do daily determines what you become permanently',
    'Package yourself for where you are going instead of where you have been',
    'What grieves you is a clue is something you were assigned to heal',
    'The longevity of every relationship is decided by the willingness to forgive',
    'When you discover your assignment, you will discover your enemy',
    'You have no right to anything you have not pursued',
    'Whatever you have been given is enough to create anything else you have been promised',
    'What you hear determines what you feel',
    'People see what you are before they hear what you are',
    'What you hate reveals what you were created to correct',
    'The proof of humility is the willingness to reach',
    'Wrong people birth sad seasons',
    'Your chosen focus is the world you have created for yourself',
    'Whatever you sow is your seed, whatever you keep is your harvest',
    'The battle of life is for your mind, the battle of the mind is for focus',
    'Protocol will take you further than genius',
    'What you love the most is a clue to the gift you contain',
    'The proof of love is the desire to give',
    'Your assignment will always have an adversary',
    'What you hear determines what you pursue',
    'When God talks to you about a seed, he has a harvest on his mind',
    'When you ignore God, you schedule a tragedy',
    'Successful men do daily what unsuccessful men do occasionally',
    'You are never responsible for the pain of those who have ignored your counsel',
    'The proof of love is the obsession to protect',
    'Your goals force every adversary to express their opposition to you',
    'Fathers decided what daughters remember, mothers decide what sons believe',
    'When you ask God for a harvest, He will always ask you for a seed',
    'Mentorship creates success without the waiting',
    'The atmosphere you create determines the future of your weakness',
    'You will only remember something you teach',
    'GRACE - God\'s Riches At Christ Expense',
    'Your self-portrait determines the kind of enemy you are willing to confront',
    'Where you are determines what dies within you',
    'When you open your hands, God will open his windows',
    'Every problem is always a wisdom problem',
    'When your heart decides the destination, your mind will design the map to reach it',
    'What you respect, you will attract',
    'The secret of your future is hidden in your daily routine',
    'Your rewards in life are determined by the kinds of problems you are willing to solve for others',
    'What you make happen for others, God will make happen for you',
    'An uncommon seed always creates and uncommon harvest',
    'The word of God is the wisdom of God',
    'The clearer your goals, the greater your faith',
    'Your focus decides your feelings',
    'Your self-portrait determines your self-conduct',
    'Your respect for time is a prediction of your financial future',
    'Your decisions decide your wealth',
    'The instruction you follow determines the future you create',
    'God\'s only pain is to be doubted, God\'s only pleasure is to be believed',
    'Your goals choose your mentors',
    'Your success is decided by what you are willing to ignore',
    'The atmosphere you create determines the product you produce',
    'The size of your enemy determines the size of your rewards',
    'Your assignment is always the problem God has designed you to solve for others',
    'What you are willing to walk away from determines what God will bring to you',
    'Your future is decided by who you choose to believe',
    'Changes in your life will always be proportionate to your knowledge',
    'The reward of pain is the willingness to change',
    'Anything permitted increases',
    'Anything that keeps your attention has become your master',
    'Your life is whatever you choose to remember',
    'When you want something you have never had, you must do something you have never done',
    'Anything that keeps your attention has become your master',
    'What you repeatedly hear, you eventually believe',
    'All men fall, the great ones get back up',
    'You cannot correct what you are unwilling to confront',
    'You will only be remembered in life for two things: the problems you solve or the ones you create',
    'God never consults your past to decide your future',
    'Any movement towards order creates pleasure',
    'The evidence of God\'s presence far outweighs the proof of his absence',
    'Never complain about what you permit',
    'Go where you are celebrated instead of where you are tolerated',
    'One day of favour is worth a thousand days of labour',
    'Warfare always surrounds the birth of a miracle',
    'The broken become masters at mending',
    'Prosperity is simply having enough of God\'s provision to complete his assignment in your life',
    'One hour in the presence of God will reveal the flaws of your most carefully laid plans',
    'Anger is the birthplace for solutions',
    'The willingness to reach births the ability to change',
    'Never give more time to a critic than you would give to a friend',
    'Never give more time to a critic than you would give to a friend',
    'Access is first a gift, then a test, then a reward',
    'The magnetism of your kindness will outlast the memory of your genius',
    'When you let go of what is in your hand, God let\'s go of what is in his hand',
    'Never rewrite your theology to accommodate a tragedy',
    'Crisis always occurs at the curve of change',
    'You never outgrow warfare, you must simply learn to fight',
    'Memory is more enslaving than any injustice',
    'Your significance is not in your similarity to another, but in your point of difference from another',
    'What you can tolerate, you cannot change',
    'The seasons of your life will change every time you use your faith',
    'When you ask God for a miracle, he will always give you an instruction',
    'Whatever is missing in your life is something you have not truly valued',
    'Your reaction to greatness reveals your humility',
    'Honour is the seed for longevity, of life or friendship',
    'Your words are the seeds for feelings',
    'Friends create comfort, enemies create change',
    'Your words are the seeds for feelings',
    'Friends create comfort, enemies create change',
    'Something in your hand can create anything you want in your future',
    'Your unwillingness to trust the right person will create more losses than your mistake of trusting the wrong person',
    'Anything good is hated by everything evil',
    'An uncommon dream will require an uncommon mentor',
    'What saddens you is a clue to what God has assigned you to heal',
    'Every environment requires a code of conduct for entering or remaining in it',
    'Greatness is not the absence of a flaw - but the willingness to overcome it.',
    'Each act of obedience shortens the distance to any miracle you are pursuing',
    'Your reaction to the word of God is a picture of your respect for God',
    'The problem that infuriates you the most is the problem God has assigned you to solve',
    'False accusation is the last stage before supernatural promotion',
    'Miracles happen as quickly as tragedies',
    'The di$erence between significance and insigni!cance is an adversary',
    'When wrong people leave your life, wrong things stop happening',
    'Seed-faith is sowing something you have been given for something else you have been promised',
    'Disobedience is always more costly than obedience',
    'An uncommon enemy will require uncommon wisdom',
    'What you say is not as important as what others remember',
    'Never discuss your problem with something incapable of solving it',
    'Joy is the divine reward for discerning the divine purpose of the immediate moment',
    'God never responds to pain, but he always responds to pursuit',
    'When you get involved with God\'s dream, he will get involved with your dream',
    'The true function of wisdom is order',
    'Confrontation is the attempt to preserve a relationship',
    'The wise never discuss what they want others to forget',
    'The proof of loves is the passion to pleasure',
    'Pain is the proof of disorder',
    'Debt is the proof of greed',
    'Giving is the only proof you have conquered greed',
    'If time heals, God is unnecessary',
    'Loneliness is the not the absence of a$ection, but the absence of direction',
    'Money is merely a reward for solving problems',
    'Access becomes a continuous test',
    'When fatigue walks in, faith walks out',
    'Patience is the weapon that forces deception to reveal itself',
    'Any step toward self-sufficiency is a step away from God',
    'Ignorance is the only weapon Satan can e$ectively use against you',
    'A tired mind rarely makes good decisions',
    'An uncommon dream requires uncommon patience',
    'Anything you do not have is stored in someone near you, and love is the secret map to the treasure',
    'The proof of mediocrity is the resentment of excellence',
    'Conduct permitted is conduct taught',
    'A seed of nothing always creates a season of nothing',
    'Mentorship is wisdom without the pain',
    'An unconquered weakness always births a tragedy',
    'Anger is simply passion requiring an appropriate focus',
    'Bitterness is deadlier than betrayal',
    'An uncommon assignment attracts an uncommon adversary',
    'Gifts reveal the character of those who receive them',
    'Giving is emptying your present to fill up your future',
    'Obedience is the only thing God has ever required of man',
    'Business is simply solving a problem for an agreed reward',
    'Currents of favour begin to flow the moment you solve a problem for someone',
    'Champions are willing to walk away from something they desire to protect something else they love',
    'An uncontested enemy will flourish',
    'God creates seasons, discoveries schedule them',
    'God had a son but he wanted a family, he sowed his son to create his family',
    'God sent his son, but he left his book',
    'Champions are willing to do things they hate to create something else they love',
    'Everything God created is a solution to a problem',
    'Every friendship nurtures a strength or a weakness',
    'Bad times bring good people together',
    'One day of doubt will create 365 days of pain',
    'God will never ask for something you don\'t have, he will always ask for something you want to keep',
    'Order is God\'s only obsession',
    'Creativity is the search for options, focus is the elimination of them',
    'If you don\'t know where you belong, you will adapt to where you are',
    'Give another what you cannot find anywhere else and he will keep returning',
    'Endurance demoralizes your adversary',
    'Miracles do not go where they are needed, they go where they are expected',
    'If what you hold in your hand is not enough to be your harvest, it must be your seed',
    'Access creates demands, demands create expectations, expectations create distraction, distraction creates failure.',
    'Debt is emptying your future to fill up your present',
    'Provision is only guaranteed at the place of you assignment',
    'God disguises his greatest gifts in the most flawed vessels so only the most passionate qualify to receive them.',
    'Losers focus on what they are going through, champions focus on what they are going to',
    'Silence cannot be misquoted',
    'Money does not change you, it magnifies what you already are',
    'The Holy Spirit is the only person capable of being completely satisfied with you',
    'Diligence is immediate attention to an assigned task',
    'Restlessness is your future whimpering at your feet begging for instructions',
    'God will never authorize a man to marry a woman who refuses to follow, nor a woman to marry a man who refuses to lead',
    'Men do not drown by falling in the water, they drown by staying there',
    'The purpose of memory is to revisit places of pleasure',
    'Nothing leaves Heaven until something leaves Earth',
    'The Holy Spirit is the only person you are required to obey',
    'Failure is not an event, but merely an opinion',
    'Stop looking at where you have been and start looking at where you can be',
    'What you say determines what God is willing to do for you',
    'Pain is not your enemy - merely the proof that you have one.',
    'Flattery is speaking good words for wrong reasons',
    'Only a fool negotiates with a giver',
    'The person of Jesus creates your peace, the principles of Jesus create your prosperity.',
    'Fame will birth pursuit, pursuit will birth demands, demands will birth distractions, distractions will birth failure',
    'The only reason men fail is broken focus',
    'Jealousy is believing another received what you deserved',
    'The waves of yesterday\'s disobedience will splash on the shores of tomorrow for a season.',
    'The quality of a nation is revealed by the quality of the leader God permits to govern them',
    'Something you already have can create anything else you will ever want',
    'The presence of God is the only place where your weakness will die',
    'Focus creates blindness',
    'The pain of your past will decide your passion for the future',
    'Nobody is ever as they first appear.',
    'Satan always attacks those next in line for a promotion',
    'The quickest cure for ingratitude is loss',
    'The anointing you respect is the anointing that increases in your life',
    'The price God was willing to pay reveals the worth of the product he saw',
    'Anything unrecognized becomes unrewarded, anything unrewarded... will exit',
    'The problem closest to you is your door out of trouble',
    'Parasites view your weakness as a reason to leave, protégés view your weakness as a reason to stay',
    'Satan\'s favorite entry point into your life is always through someone close to you',
    'The ungodly give gifts to in#uence decisions, the Godly give gifts to prove love',
    'The di$erence between seasons is simply an instruction',
    'The price of God\'s presence is time',
    'What you can walk away from you have mastered, what you cannot walk away from has mastered you',
    'Your experiences decide your persuasions.',
    'Your reaction to someone in trouble determines God’s reaction to you',
    'Those without your pain rarely understand your goals',
    'An uncommon dream requires uncommon faith',
    'What you celebrate - you will remember',
    'The most valuable person in your life is the one who feeds your faith',
    'Those who disrespect your assignment are unqualified for access',
    'When you agree with a rebel, you reap his consequences',
    'If you must believe somebody, believe somebody good',
    'An uncommon future will require uncommon preparation',
    'Your reaction to an instruction determines the access you receive',
    'Those who do not respect your time will not respect your wisdom either',
    'When God wants to protect you, he removes a person from your life',
    'Your unwillingness to submit deprives God of the authorization to protect',
    'Champions make decisions that create the future they desire, losers make decisions that create the present they desire',
    'Anything you do in an attempt to please God will not go unrewarded',
    'Your reaction to a man of God determines God\'s reaction to you',
    'God will never advance your instructions beyond your last act of disobedience',
    'Those who lie for you will eventually lie against you',
    'When God wants to bless you, he brings a person into your life',
    'Your pain decides your goals',
    'Your memory replays your past, your imagination pre-plays your future',
    'The proof of prosperity is the ability to lend, the proof of impatience is the willingness to borrow',
    'The reward of submission is equal to the reward of agreement',
    'God gives you a family to prepare you for an enemy',
    'What you are will outlast what men say you are',
    'The proof of respect is the investment of time',
    'Your tithe is the proof of your trust',
    'You cannot have a great life unless you have a pure life, you cannot have a pure life unless you have a pure mind, you cannot have a pure mind unless you wash it aily with the word of God',
    'Your belief system was chosen for comfort or change',
    'The secret to knowing a man is to know his memories',
    'Loss is the !rst step toward change',
    'Winners are simply ex-losers who got mad',
    'The reward of pain is the willingness to listen',
    'The anointing you sow into is the anointing you reap from',
    'Parasites want what is in your hand, protégés want what is in your heart',
    'The unthankful are always the unhappy',
    'The only thing you will ever need to know is what to do next',
    'Your future is decided by what you are willing to change',
    'Those pursuing greatness are worthy of pursuit',
    'You will only be remembered for your obsession',
    'The person of Jesus prepares you for eternity, the principles of Jesus prepare you for earth',
    'When you get involved with God\'s family, He will get involved with your family',
    'Those who cannot increase you will inevitably decrease you',
    'Loss is the first step toward discovering God',
    'Your goals allow your friends to confirm their loyalty',
    'Those who habitually disagree with your decisions eventually become capable of disloyalty',
    'Your faith decided your miracles',
    'Greatness is simply fulfilling God\'s expectations of you',
    'Those who disagree with your goals will usually disagree with your decisions',
    'Those who sin with you will eventually sin against you',
    'You are never as far from a miracle as it first appears',
    'Your self-portrait determines what you are willing to endure.',
    'Intolerance of your present schedules your future',
    'Ecstasy to a giver is discovering something qualified to receive',
    'Order is simply the accurate arrangement of things',
    'An uncommon future requires an uncommon mentor',
    'What you love will eventually reward you',
    'You can only conquer something you hate',
    'The proof of impatience is debt',
    'Where you are determines what grows within you - your weakness or your strength',
    'The !rst step toward success is the willingness to listen',
    'You cannot be what you are not, but you can become what you are not',
    'The proof of love is the willingness to correct',
    'The importance of your assignment is revealed by the intensity of your adversity',
    'All men fall... The great ones get back up',
    'When you sow what you have been given, you will reap what you have been promised',
    'Where you are determines what you hear, what you hear determines what you believe',
    'The greatest success quality on earth is the willingness to become',
    'Your reactions reveal your character',
    'The proof of loyalty is the unwillingness to betray',
    'Your enemies decide your promotions',
    'Your attitude determines your access',
    'You can create with your seed what you cannot buy with your money',
    'The attitude of the servant decides the atmosphere of the palace',
    'The most dangerous person in your life is the one who feeds your doubts',
    'You will never be promoted until you become over-qualified for your present assignment',
    'The proof of order is the absence of strife',
    'Crisis is simply an invitation to a miracle',
    'Never gaze at something that does not belong in your future',
    'Your seed is a photograph of your faith',
    'Where you are determines who sees you',
    'The proof of desire is pursuit',
    'You will only have significant success with something that is an obsession',
    'The proofs of legitimate authority are provision, protection, and promotion',
    'Honour must become your seed before you reap it as a harvest',
    'Distrust destroys passion',
    'Your seed is anything that benefits another, your harvest is anything that benefits you',
    'Worship is the correction of focus',
    'The pursuit of the mentor reveals the passion of the protégé',
    'Your assignment is not your decision - but your discovery',
    'Exposure of incompetence usually births an adversary',
    'The right thing at the wrong time becomes the wrong thing',
    'Where you are matters as much as what you are',
    'Your seed is the only influence you have over your future',
    'Those pursuing greatness are worthy of pursuit'
];

var fuels = fuelForTodayList.length;
var randomNumber = Math.floor(Math.random() * Math.floor(fuels));
var fuelForToday = fuelForTodayList[randomNumber];
var fftd = `
<div class="container daily">
    <div class="row">
        <div class="col-md-4 fftdcon">
            <h3 class="fftd">Fuel for the Day</h3>
        </div>
        <div class="col-md-8">
        </div>
        <div class="row">
            <div class="col-md-9 offset-2">
              <h4 class="thought">${fuelForToday}</h4>
            </div>
        </div>
    </div>
</div>`;
document.getElementById("fftd").innerHTML = fftd;
</script>